* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.items {
  display: flex;
}

@media (max-width: 599px) {
  .items {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
}
  
@media (min-width: 600px) {
  .items {
    cursor: pointer;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .items.siscom--is-moving {
      cursor: grabbing;
      cursor: -webkit-grabbing;
  }
}

.item {
  pointer-events: none;
  flex: none;

  width: 100%;
  height: 400px;
  user-select: none;

  scroll-snap-align: center;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
}
